
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .header {
    text-align: Left;
    margin-bottom: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .nav-link {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  
  .hero-section {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .hero-image {
    max-width: 100%;
  }
  
  .section {
    margin-bottom: 50px;
  }
  
  .section-title {
     text-align:center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  

  
  .card-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: calc(33% - 20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .card-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-description {
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    
    background-color: #333333;
  }
  
  .footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }